/* Imports */
/* Inter font, 300 & 400 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

/* Rubik font, 400 & 700 */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* Main Style (DONT TOUCH) */
* {
    overflow-x: hidden;
    -ms-overflox-style: none;
    scrollbar-width: none;
    cursor: none;
}

*::-webkit-scrollbar {
    display: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.outerCursor {
    position: fixed;
    left: -5px;
    top: -5px;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: white;
    pointer-events: none;
    filter: drop-shadow(0 0rem 0.5rem black);
    z-index: 2000;
}

.innerCursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: white;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 2px;
    border-radius: 25px;
    z-index: 2000;
    pointer-events: none;
    filter: drop-shadow(0 0rem 0.5rem rgb(0, 0, 0));
    backdrop-filter: blur(8px);
    transition: width 0.2s, height 0.2s, background-color 0.2s, border-color 0.2s;
}

.cursorHover {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    transition: width 0.2s, height 0.2s, background-color 0.2s, border-color 0.2s;
}

.cursorDown {
    width: 20px;
    height: 10px;
    transition: width 0.05s, height 0.05s;
}

/* Site Style */
.bg {
    margin: 0;
    background-color: black;
    z-index: -100;
}

.bgVideo {
    opacity: 40%;
    z-index: -100;
}

footer {
    margin: 25px;
}

/* Footer Element, do not touch */
.bottomText {
    color: rgb(164, 164, 164);
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.container {
    position: absolute;
    bottom: 88vh;
    left: 18vh;
    height: 50px;
    width: 650px;
    background-color: rgba(123, 123, 123, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    border-color: rgba(175, 175, 175, 0.2);
    border-width: 2px;
    border-style: solid;
}

.logo {
    position: absolute;
    bottom: 88vh;
    left: 2.5%;
    height: 55px;
    width: 55px;
    opacity: 100%;
    transition: ease 0.3s
}

.logo:hover {
    transform: scale(105%);
    transition: ease 0.3s
}

.titleBlock {
    position: relative;
    height: 500px;
    width: 100%;
    bottom: 1000px;
    overflow-y: hidden;
}

.titleText {
    margin-left: 120px;
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: .5px;
    color: white;
}

.subtitle {
    position: relative;
    top: 60px;
    left: 150px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .5px;
    color: white;
}

.descriptionText {
    position: relative;
    bottom: 60px;
    left: 150px;
    width: 850px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .5px;
    color: white;
}

.buttonContainer1 {
    position: relative;
    bottom: 85px;
    left: 375px;
    width: 200px;
    height: 45px;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: ease .2s;
}

.buttonText1 {
    position: relative;
    top: 2px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.buttonContainer1:hover {
    transform: scale(1.05);
    transition: ease .2s;
}

.buttonContainer2 {
    position: relative;
    bottom: 40px;
    left: 150px;
    width: 200px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    transition: ease .2s;
    backdrop-filter: blur(8px);
}

.buttonText2 {
    position: relative;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.buttonContainer2:hover {
    transform: scale(1.05);
    transition: ease .2s;
}

.hoverblock {
    position: absolute;
    top: 358px;
    width: 100%;
    height: 200px;
}

.options {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 19px;
    opacity: 50%
}

.opt1 {
    position: absolute;
    left: 20px;
    top: 13px;
    transition: ease 0.4s
}

.opt1:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

.opt2 {
    position: absolute;
    left: 150px;
    top: 13px;
    transition: ease 0.4s
}

.opt2:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

.opt3 {
    position: absolute;
    left: 270px;
    top: 13px;
    transition: ease 0.4s
}

.opt3:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

.opt4 {
    position: absolute;
    left: 400px;
    top: 13px;
    transition: ease 0.4s
}

.opt4:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

.opt5 {
    position: absolute;
    left: 510px;
    top: 13px;
    transition: ease 0.4s
}

.opt5:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}