/* Imports */
/* Inter font, 300 & 400 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

/* Rubik font, 400 & 700 */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* Roboto font, 700 */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* Source Sans Pro font, 900 */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

/* Main Style (DONT TOUCH) */
* {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Splash Screen */
.splash {
    background: rgba(0, 0, 0, 0.8);
    opacity: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 5000;
    cursor: none;
    backdrop-filter: blur(6px);
}

.splash.display-none {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    opacity: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 5000;
    cursor: none;
    animation: fadingOut 2s ease forwards;
}

.splashText {
    position: relative;
    text-align: center;
    line-height: 90vh;
    margin: auto;
    color: white;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    opacity: 0%;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1s;
}

@keyframes fadingOut {
    to {
        backdrop-filter: none;
        opacity: 0%;
        z-index: -999;
    }
}

@keyframes fadeIn {
    to {
        opacity: 100%;
        letter-spacing: 12px;
    }
}

/* Site Style */
.bg {
    margin: 0;
    background-color: black;
    z-index: -100;
}

.bgVideo {
    opacity: 40%;
    z-index: -100;
}

.bgVideo1 {
    opacity: 0%;
    z-index: -100;
}

footer {
    margin: 25px;
}

#icon-nav1 {
    position: fixed;
    filter: invert(100%);
    top: -6vh;
    right: 34vh;
    height: 3.5vh;
    width: 3.5vh;
    transition: ease 0.5s;
}

#icon-nav2 {
    position: fixed;
    filter: invert(100%);
    top: -6vh;
    right: 28vh;
    height: 3.5vh;
    width: 3.5vh;
    transition: ease 0.5s;
}

#icon-nav3 {
    position: fixed;
    filter: invert(100%);
    top: -6vh;
    right: 22vh;
    height: 3.5vh;
    width: 3.5vh;
    transition: ease 0.5s;
}

#icon-nav4 {
    position: fixed;
    filter: invert(100%);
    top: -6vh;
    right: 16vh;
    height: 3.5vh;
    width: 3.5vh;
    transition: ease 0.5s;
}

#icon-nav5 {
    position: fixed;
    filter: invert(100%);
    top: -6vh;
    right: 10vh;
    height: 3.5vh;
    width: 3.5vh;
    transition: ease 0.5s;
}

#icon-nav6 {
    position: fixed;
    filter: invert(100%);
    top: -6vh;
    right: 4vh;
    height: 3.5vh;
    width: 3.5vh;
    transition: ease 0.5s;
}

#icon-nav1:hover {
    transform: scale(1.25)
}

#icon-nav2:hover {
    transform: scale(1.25)
}

#icon-nav3:hover {
    transform: scale(1.25)
}

#icon-nav4:hover {
    transform: scale(1.25)
}

#icon-nav5:hover {
    transform: scale(1.25)
}

#icon-nav6:hover {
    transform: scale(1.25)
}

/* Footer Element, do not touch */
.bottomText {
    color: rgb(164, 164, 164);
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

/* Index Page Section */
.container {
    position: relative;
    bottom: 1060px;
    margin: auto;
    height: 50px;
    width: 650px;
    background-color: rgba(123, 123, 123, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    border-color: rgba(175, 175, 175, 0.2);
    border-width: 2px;
    border-style: solid;
    transition: 1s ease
}

.container:hover {
    border-color: rgba(175, 175, 175, 0.5);
    background-color: rgba(123, 123, 123, 0.40);
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
    transition: 1s ease
}

.logo {
    position: absolute;
    filter: invert(100%);
    bottom: 90vh;
    left: 2.5%;
    height: 6vh;
    width: 6vh;
    opacity: 100%;
    transition: ease 0.3s
}

.logo:hover {
    transform: scale(105%);
    transition: ease 0.3s
}

.titleBlock {
    position: relative;
    height: 2000px;
    width: 100%;
    bottom: 1050px;
    overflow-y: hidden;
}

.titleText {
    position: relative;
    margin: auto;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: .5px;
    color: white;
}

.subtitle {
    position: relative;
    margin: auto;
    top: 110px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.7);
}

.descriptionText {
    position: relative;
    top: 80px;
    margin: auto;
    width: 850px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .5px;
    color: white;
}

.buttonContainer1 {
    position: relative;
    top: 200px;
    left: 120px;
    margin: auto;
    width: 200px;
    height: 45px;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: ease .2s;
    overflow: hidden;
    z-index: 300;
}

.buttonText1 {
    position: relative;
    top: 2px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.buttonContainer1:hover {
    transform: scale(1.05);
    transition: ease .2s;
}

.buttonContainer2 {
    position: relative;
    overflow-y: none;
    top: 245px;
    right: 120px;
    margin: auto;
    width: 200px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 300;
    transition: ease .2s;
    backdrop-filter: blur(8px);
}

.buttonText2 {
    position: relative;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.buttonContainer2:hover {
    transform: scale(1.05);
    transition: ease .2s;
}

.hoverblock {
    position: absolute;
    top: 358px;
    width: 100%;
    height: 200px;
}

.options {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 19px;
    opacity: 50%
}

.opt1 {
    position: absolute;
    left: 20px;
    top: 13px;
    transition: ease 0.4s
}

.opt1:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

.opt2 {
    position: absolute;
    left: 150px;
    top: 13px;
    transition: ease 0.4s
}

.opt2:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

.opt3 {
    position: absolute;
    left: 270px;
    top: 13px;
    transition: ease 0.4s
}

.opt3:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

.opt4 {
    position: absolute;
    left: 400px;
    top: 13px;
    transition: ease 0.4s
}

.opt4:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

.opt5 {
    position: absolute;
    left: 510px;
    top: 13px;
    transition: ease 0.4s
}

.opt5:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

/* About Page Section */
.a-bg {
    background-color: black;
    margin: 0;
}

.a-titlebox {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 450px;
    background-color: rgba(255, 255, 255, 0);
    overflow-y: hidden;
}

.a-toptext {
    position: relative;
    left: -700px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    opacity: 70%;
    animation: slideIn 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.a-titletext-viva {
    position: relative;
    top: -140px;
    left: 2500px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 128px;
    letter-spacing: 3px;
    text-shadow: 0px 0px 15px black;
    color: white;
    animation: text-viva 2s ease forwards;
}

.a-titletext-galactica {
    position: relative;
    top: -300px;
    left: -2080px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 128px;
    letter-spacing: 3px;
    text-shadow: 0px 0px 15px black;
    color: white;
    animation: text-galactica 2.5s ease forwards;
    z-index: 100;
}

.a-titletext-viva-s {
    position: relative;
    width: 2000%;
    top: -700px;
    left: 2500px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 128px;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    opacity: 10%;
    animation: text-viva-s 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.a-titletext-galactica-s {
    position: relative;
    width: 2000%;
    top: -860px;
    left: -12000px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 128px;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    opacity: 10%;
    animation: text-galactica-s 5.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.a-textdivide {
    position: relative;
    width: 350%;
    left: -50px;
    top: -1000px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.1) 100%);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: gradientslide 7s linear infinite;
    animation: gradientslide 7s linear infinite;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 12px;
}

.a-info-textbox {
    position: absolute;
    left: 7.5%;
    top: 490px;
    width: 85%;
    height: 450px;
    border-style: solid;
    background-color: rgba(123, 123, 123, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    border-color: rgba(175, 175, 175, 0.2);
    overflow-y: hidden;
}

.a-info-text {
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: white;
    margin: 15px;
}

/* About Page Keyframes */
@keyframes slideIn {
    to {
        left: 350px;
    }
}

@keyframes text-viva {
    to {
        left: 120px;
    }
}

@keyframes text-viva-s {
    to {
        left: -558px;
    }
}

@keyframes text-galactica {
    to {
        left: 80px;
    }
}

@keyframes text-galactica-s {
    to {
        left: -714px;
    }
}

@-webkit-keyframes gradientslide {
    to {
        background-position: 200% center;
    }
}

@keyframes gradientslide {
    to {
        background-position: 200% center;
    }
}

/* Pricing Page Section */
#p-heading {
    position: relative;
    margin: auto;
    text-align: center;
    left: 20px;
    bottom: 1040px;
    font-family: 'Rubik', sans-serif;
    font-size: 3vh;
    font-weight: 700;
    color: white;
    z-index: 600000;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.4s
}

.p-heading-s {
    position: relative;
    margin: auto;
    text-align: center;
    bottom: 1040px;
    font-family: 'Rubik', sans-serif;
    font-size: 84px;
    font-weight: 700;
    color: white;
    z-index: 100;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.4s
}

.p-heading-stick {
    position: sticky;
}

.p-sub-heading {
    position: relative;
    margin: auto;
    text-align: center;
    bottom: 1050px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 7px;
    color: white;
}

.p-desc {
    position: relative;
    margin: auto;
    text-align: center;
    width: 650px;
    bottom: 65rem;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: white;
}

.p-t1-box {
    position: absolute;
    transform: translate(-50%, 0);
    bottom: -250px;
    left: 20%;
    height: 70%;
    width: 26%;
    background: linear-gradient(150deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 100%) padding-box,
                linear-gradient(290deg, rgba(2, 0, 36, 1) 0%, rgba(3, 62, 80, 1) 100%) border-box;
    background-size: 110% 110%;
    background-position: -10px;
    border: 0.7vh solid transparent;
    border-radius: 4vh;
    transition: 0.5s ease;
    opacity: 0;
    animation: entryUp 1.5s ease forwards;
    animation-delay: 2s;
}

.p-t1-box:hover {
    height: 72%;
    width: 28%;
    transition: 0.5s ease;
}

.p-t1-text {
    position: relative;
    top: 30px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 5.2vh;
    z-index: 500;
}

.p-t1-desc {
    position: relative;
    top: 30px;
    width: 55vh;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;
}

.p-t1-price {
    position: relative;
    top: 70px;
    right: 23px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 8vh;
    z-index: 500;
}

.p-t1-price-s {
    position: relative;
    top: 50px;
    left: 90px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    z-index: 500;
}

.p-t2-box {
    position: absolute;
    transform: translate(-50%, 0);
    bottom: -250px;
    left: 50%;
    height: 70%;
    width: 26%;
    background: linear-gradient(150deg, rgba(36,0,0,1) 0%, rgba(0,0,0,1) 100%) padding-box,
                linear-gradient(290deg, rgba(36,0,0,1) 10%, rgba(129,12,12,1) 100%) border-box;
    background-size: 110% 110%;
    background-position: -10px;
    border: 0.7vh solid transparent;
    border-radius: 4vh;
    transition: 0.5s ease;
    opacity: 0;
    animation: entryUp 2s ease forwards;
    animation-delay: 1s;
}

.p-t2-box:hover {
    height: 72%;
    width: 28%;
    transition: 0.5s ease;
}

.p-t2-text {
    position: relative;
    top: 30px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 5.2vh;
    z-index: 500;
}

.p-t2-desc {
    position: relative;
    top: 30px;
    width: 52vh;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;
}

.p-t2-price {
    position: relative;
    top: 70px;
    right: 22px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 8vh;
    z-index: 500;
}

.p-t2-price-s {
    position: relative;
    top: 50px;
    left: 97px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    z-index: 500;
}

.p-t3-box {
    position: absolute;
    transform: translate(-50%, 0);
    bottom: -250px;
    left: 80%;
    height: 70%;
    width: 26%;
    background: linear-gradient(150deg, rgba(36,33,0,1) 0%, rgba(0, 0, 0, 1) 90%) padding-box,
                linear-gradient(290deg, rgba(36,33,0,1) 10%, rgba(129,125,12,1) 100%) border-box;
    background-size: 110% 110%;
    background-position: -10px;
    border: 0.7vh solid transparent;
    border-radius: 4vh;
    transition: 0.5s ease;
    opacity: 0;
    animation: entryUp 2s ease forwards;
    animation-delay: 1.5s;
}

.p-t3-box:hover {
    height: 72%;
    width: 28%;
    transition: 0.5s ease;
}

.p-t3-text {
    position: relative;
    top: 2rem;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 5.2vh;
    z-index: 500;
}

.p-t3-desc {
    position: relative;
    top: 30px;
    width: 50vh;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;
}

.p-t3-price {
    position: relative;
    top: 70px;
    right: 23px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 8vh;
    z-index: 500;
}

.p-t3-price-s {
    position: relative;
    top: 50px;
    left: 90px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    z-index: 500;
}

#p-stickybar {
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 9vh;
    bottom: 105vh;
    z-index: 10000;
    opacity: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    transition: ease 0.6s;
}

.p-confirm {
    position: relative;
    bottom: 50vh;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 5.2vh;
    z-index: 500;
}

.p-ready-button {
    position: absolute;
    bottom: -63vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    overflow-y: hidden;
    width: 20vh;
    height: 6vh;
    border-radius: 2vh;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.p-ready-button-text {
    position: relative;
    margin: auto;
    top: 1.5vh;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 2vh;
}

/* Pricing Keyframes */

@keyframes entryUp {
    to {
        opacity: 1;
        bottom: -10rem;
    }
}