/* Imports */
/* Inter font, 300 & 400 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

/* Rubik font, 400 & 700 */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* Roboto font, 700 */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* Source Sans Pro font, 900 */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

/* Montserrat font, 200, 800 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:800,200');

/* Main Style (DONT TOUCH) */
* {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Splash Screen */
.splash {
    background: rgba(0, 0, 0, 0.8);
    opacity: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 5000;
    cursor: none;
    backdrop-filter: blur(6px);
}

.splash.display-none {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    opacity: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 5000;
    cursor: none;
    animation: fadingOut 2s ease forwards;
}

.splashText {
    position: relative;
    text-align: center;
    line-height: 90vh;
    margin: auto;
    color: white;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    opacity: 0%;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1s;
}

@keyframes fadingOut {
    to {
        backdrop-filter: none;
        opacity: 0%;
        z-index: -999;
    }
}

@keyframes fadeIn {
    to {
        opacity: 100%;
        letter-spacing: 12px;
    }
}

/* Site Style */
.bg {
    margin: 0;
    background-color: black;
    z-index: -100;
}

.bgVideo {
    opacity: 40%;
    z-index: -100;
}

.bgVideo1 {
    opacity: 0%;
    z-index: -100;
}

footer {
    margin: 25px;
}

#icon-nav1 {
    position: fixed;
    filter: invert(100%);
    top: -6vh;
    right: 34vh;
    height: 3.5vh;
    width: 3.5vh;
    transition: ease 0.5s;
}

#icon-nav2 {
    position: fixed;
    filter: invert(100%);
    top: -6vh;
    right: 28vh;
    height: 3.5vh;
    width: 3.5vh;
    transition: ease 0.5s;
}

#icon-nav3 {
    position: fixed;
    filter: invert(100%);
    top: -6vh;
    right: 22vh;
    height: 3.5vh;
    width: 3.5vh;
    transition: ease 0.5s;
}

#icon-nav4 {
    position: fixed;
    filter: invert(100%);
    top: -6vh;
    right: 16vh;
    height: 3.5vh;
    width: 3.5vh;
    transition: ease 0.5s;
}

#icon-nav5 {
    position: fixed;
    filter: invert(100%);
    top: -6vh;
    right: 10vh;
    height: 3.5vh;
    width: 3.5vh;
    transition: ease 0.5s;
}

#icon-nav6 {
    position: fixed;
    filter: invert(100%);
    top: -6vh;
    right: 4vh;
    height: 3.5vh;
    width: 3.5vh;
    transition: ease 0.5s;
}

#icon-nav1:hover {
    transform: scale(1.25)
}

#icon-nav2:hover {
    transform: scale(1.25)
}

#icon-nav3:hover {
    transform: scale(1.25)
}

#icon-nav4:hover {
    transform: scale(1.25)
}

#icon-nav5:hover {
    transform: scale(1.25)
}

#icon-nav6:hover {
    transform: scale(1.25)
}

/* Footer Element, do not touch */
.bottomText {
    color: rgb(164, 164, 164);
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

/* Index Page Section */
.container {
    position: relative;
    bottom: 1060px;
    margin: auto;
    height: 7.7vh;
    width: 100vh;
    background-color: rgba(123, 123, 123, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 2.3vh;
    border-color: rgba(175, 175, 175, 0.2);
    border-width: 0.5vh;
    border-style: solid;
    transition: 1s ease
}

.container:hover {
    border-color: rgba(175, 175, 175, 0.5);
    background-color: rgba(123, 123, 123, 0.40);
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
    transition: 1s ease
}

.logo {
    position: absolute;
    filter: invert(85%);
    bottom: 90vh;
    left: 2.5%;
    height: 6vh;
    width: 6vh;
    opacity: 100%;
    transition: ease 0.3s
}

.logo:hover {
    transform: scale(105%);
    transition: ease 0.3s
}

.titleBlock {
    position: relative;
    height: 2000px;
    width: 100%;
    bottom: 1050px;
    overflow-y: hidden;
}

.titleText {
    position: relative;
    margin: auto;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: .5px;
    color: white;
}

.subtitle {
    position: relative;
    margin: auto;
    top: 110px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.7);
}

.descriptionText {
    position: relative;
    top: 80px;
    margin: auto;
    width: 850px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .5px;
    color: white;
}

.buttonContainer1 {
    position: relative;
    top: 200px;
    left: 120px;
    margin: auto;
    width: 200px;
    height: 45px;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: ease .2s;
    overflow: hidden;
    z-index: 300;
}

.buttonText1 {
    position: relative;
    top: 2px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.buttonContainer1:hover {
    transform: scale(1.05);
    transition: ease .2s;
}

.buttonContainer2 {
    position: relative;
    overflow-y: none;
    top: 245px;
    right: 120px;
    margin: auto;
    width: 200px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 300;
    transition: ease .2s;
    backdrop-filter: blur(8px);
}

.buttonText2 {
    position: relative;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.buttonContainer2:hover {
    transform: scale(1.05);
    transition: ease .2s;
}

.hoverblock {
    position: absolute;
    top: 358px;
    width: 100%;
    height: 200px;
}

.options {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 2.92vh;
    opacity: 50%
}

.opt1 {
    position: absolute;
    left: 3.08vh;
    top: 2vh;
    transition: ease 0.4s
}

.opt1:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

.opt2 {
    position: absolute;
    left: 23.11vh;
    top: 2vh;
    transition: ease 0.4s
}

.opt2:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

.opt3 {
    position: absolute;
    left: 41.6vh;
    top: 2vh;
    transition: ease 0.4s
}

.opt3:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

.opt4 {
    position: absolute;
    left: 61.63vh;
    top: 2vh;
    transition: ease 0.4s
}

.opt4:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

.opt5 {
    position: absolute;
    left: 78.58vh;
    top: 2vh;
    transition: ease 0.4s
}

.opt5:hover {
    transform: scale(110%);
    opacity: 100;
    transition: ease 0.4s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6)
}

/* About Page Section */
.a-bg {
    background-color: black;
    margin: 0;
}

.a-titlebox {
    position: absolute;
    top: 10.4vh;
    width: 100%;
    height: 46.8vh;
    background-color: rgba(255, 255, 255, 0);
    overflow-y: hidden;
}

.a-toptext {
    position: relative;
    left: -72.84vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 1.87vh;
    letter-spacing: 1px;
    color: white;
    opacity: 70%;
    animation: slideIn 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.a-titletext-viva {
    position: relative;
    top: -14.56vh;
    left: 260.1vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 13.31vh;
    letter-spacing: 0.3vh;
    text-shadow: 0px 0px 15px black;
    color: white;
    animation: text-viva 2s ease forwards;
}

.a-titletext-galactica {
    position: relative;
    top: -31.21vh;
    left: -216.44vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 13.31vh;
    letter-spacing: 0.3vh;
    text-shadow: 0px 0px 15px black;
    color: white;
    animation: text-galactica 2.5s ease forwards;
    z-index: 100;
}

.a-titletext-viva-s {
    position: relative;
    width: 2000%;
    top: -72.84vh;
    left: 260.14vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 13.31vh;
    letter-spacing: 0.3vh;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    opacity: 10%;
    animation: text-viva-s 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.a-titletext-galactica-s {
    position: relative;
    width: 2000%;
    top: -89.49vh;
    left: -124.86vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 13.31vh;
    letter-spacing: 0.3vh;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    opacity: 10%;
    animation: text-galactica-s 5.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.a-textdivide {
    position: relative;
    width: 350%;
    left: -5.2vh;
    top: -104.05vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.1) 100%);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: gradientslide 7s linear infinite;
    animation: gradientslide 7s linear infinite;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 1.25vh;
}

.a-info-textbox {
    position: absolute;
    left: 7.5%;
    top: 45vh;
    width: 85%;
    height: 31vh;
    border-style: solid;
    background-color: rgba(123, 123, 123, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    border-color: rgba(175, 175, 175, 0.2);
    overflow-y: hidden;
}

.a-info-title {
    position: relative;
    font-family: 'Rubik', sans-serif;
    left: 4vh;
    top: -3.6vh;
    font-weight: 700;
    font-size: 6vh;
    text-shadow: 0px 0px 15px black;
    color: white;
}

.a-info-text {
    font-size: 2vh;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: white;
    margin: 1.56vh;
}

/* About Page Keyframes */
@keyframes slideIn {
    to {
        left: 36.42vh;
    }
}

@keyframes text-viva {
    to {
        left: 12.48vh;
    }
}

@keyframes text-viva-s {
    to {
        left: -58.06vh;
    }
}

@keyframes text-galactica {
    to {
        left: 8.32vh;
    }
}

@keyframes text-galactica-s {
    to {
        left: -74.29vh;
    }
}

@-webkit-keyframes gradientslide {
    to {
        background-position: 200% center;
    }
}

@keyframes gradientslide {
    to {
        background-position: 200% center;
    }
}

/* Pricing Page Section */
#p-heading {
    position: relative;
    margin: auto;
    text-align: center;
    left: 20px;
    bottom: 1040px;
    font-family: 'Rubik', sans-serif;
    font-size: 3vh;
    font-weight: 700;
    color: white;
    z-index: 600000;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.4s
}

.p-heading-s {
    position: relative;
    margin: auto;
    text-align: center;
    bottom: 1040px;
    font-family: 'Rubik', sans-serif;
    font-size: 84px;
    font-weight: 700;
    color: white;
    z-index: 100;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.4s
}

.p-heading-stick {
    position: sticky;
}

.p-sub-heading {
    position: relative;
    margin: auto;
    text-align: center;
    bottom: 1050px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 7px;
    color: white;
}

.p-desc {
    position: relative;
    margin: auto;
    text-align: center;
    width: 650px;
    bottom: 65rem;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: white;
}

.p-t1-box {
    position: absolute;
    transform: translate(-50%, 0);
    bottom: -250px;
    left: 20%;
    height: 70%;
    width: 26%;
    background: linear-gradient(150deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 100%) padding-box,
                linear-gradient(290deg, rgba(2, 0, 36, 1) 0%, rgba(3, 62, 80, 1) 100%) border-box;
    background-size: 110% 110%;
    background-position: -10px;
    border: 0.7vh solid transparent;
    border-radius: 4vh;
    transition: 0.5s ease;
    opacity: 0;
    animation: entryUp 1.5s ease forwards;
    animation-delay: 2s;
}

.p-t1-box:hover {
    height: 72%;
    width: 28%;
    transition: 0.5s ease;
}

.p-t1-text {
    position: relative;
    top: 30px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 5.2vh;
    z-index: 500;
}

.p-t1-desc {
    position: relative;
    top: 30px;
    width: 45vh;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;
}

.p-t1-price {
    position: relative;
    top: 70px;
    right: 23px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 8vh;
    z-index: 500;
}

.p-t1-price-s {
    position: relative;
    top: 50px;
    left: 90px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    z-index: 500;
}

.p-t2-box {
    position: absolute;
    transform: translate(-50%, 0);
    bottom: -250px;
    left: 50%;
    height: 70%;
    width: 26%;
    background: linear-gradient(150deg, rgba(36,0,0,1) 0%, rgba(0,0,0,1) 100%) padding-box,
                linear-gradient(290deg, rgba(36,0,0,1) 10%, rgba(129,12,12,1) 100%) border-box;
    background-size: 110% 110%;
    background-position: -10px;
    border: 0.7vh solid transparent;
    border-radius: 4vh;
    transition: 0.5s ease;
    opacity: 0;
    animation: entryUp 2s ease forwards;
    animation-delay: 1s;
}

.p-t2-box:hover {
    height: 72%;
    width: 28%;
    transition: 0.5s ease;
}

.p-t2-text {
    position: relative;
    top: 30px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 5.2vh;
    z-index: 500;
}

.p-t2-desc {
    position: relative;
    top: 30px;
    width: 45vh;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;
}

.p-t2-price {
    position: relative;
    top: 70px;
    right: 22px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 8vh;
    z-index: 500;
}

.p-t2-price-s {
    position: relative;
    top: 50px;
    left: 97px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    z-index: 500;
}

.p-t3-box {
    position: absolute;
    transform: translate(-50%, 0);
    bottom: -250px;
    left: 80%;
    height: 70%;
    width: 26%;
    background: linear-gradient(150deg, rgba(36,33,0,1) 0%, rgba(0, 0, 0, 1) 90%) padding-box,
                linear-gradient(290deg, rgba(36,33,0,1) 10%, rgba(129,125,12,1) 100%) border-box;
    background-size: 110% 110%;
    background-position: -10px;
    border: 0.7vh solid transparent;
    border-radius: 4vh;
    transition: 0.5s ease;
    opacity: 0;
    animation: entryUp 2s ease forwards;
    animation-delay: 1.5s;
}

.p-t3-box:hover {
    height: 72%;
    width: 28%;
    transition: 0.5s ease;
}

.p-t3-text {
    position: relative;
    top: 2rem;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 5.2vh;
    z-index: 500;
}

.p-t3-desc {
    position: relative;
    top: 30px;
    width: 45vh;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;
}

.p-t3-price {
    position: relative;
    top: 70px;
    right: 23px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 8vh;
    z-index: 500;
}

.p-t3-price-s {
    position: relative;
    top: 50px;
    left: 90px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    z-index: 500;
}

#p-stickybar {
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 9vh;
    bottom: 105vh;
    z-index: 10000;
    opacity: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    transition: ease 0.6s;
}

.p-confirm {
    position: absolute;
    width: 100%;
    bottom: -335px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 5.2vh;
    z-index: 500;
}

.p-ready-button {
    position: absolute;
    bottom: -400px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    overflow-y: hidden;
    width: 20vh;
    height: 6vh;
    border-radius: 2vh;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    transition: ease 1.0s
}

.p-ready-button:hover {
    transform: scale(1.2);
    transition: ease 1.0s
}

.p-ready-button-text {
    position: relative;
    margin: auto;
    top: 1.5vh;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 2vh;
}

/* Pricing Keyframes */

@keyframes entryUp {
    to {
        opacity: 1;
        bottom: -10rem;
    }
}

/* Purchasing Page */
  
.pur-title {
    position: relative;
    margin: auto;
    text-align: left;
    left: 20vh;
    bottom: 152.54vh;
    font-family: 'Rubik', sans-serif;
    font-size: 14vh;
    font-weight: 700;
    color: white;
    z-index: 100;
}

.pur-blurbehind1 {
    position: absolute;
    top: 0vh;
    width: 100%;
    height: 1000%;
    pointer-events: none;
    transition: ease 0.8s;
    z-index: 350
}

.pur-blurbehind1:hover {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    z-index: 380;
    transition: ease 0.8s;
}

.pur-blurbehind2 {
    position: absolute;
    top: 0vh;
    width: 100%;
    height: 1000%;
    pointer-events: none;
    transition: ease 0.8s;
    z-index: 350;
}

.pur-blurbehind2:hover {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    z-index: 350;
    transition: ease 0.8s;
}

.pur-blurbehind3 {
    position: absolute;
    top: 0vh;
    width: 100%;
    height: 1000%;
    pointer-events: none;
    transition: ease 0.8s;
    z-index: 330;
}

.pur-blurbehind3:hover {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    z-index: 370;
    transition: ease 0.8s;
}

.pur-opt1 {
    position: absolute;
    background: linear-gradient(150deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 100%) padding-box,
                linear-gradient(290deg, rgba(2, 0, 36, 1) 0%, rgba(3, 62, 80, 1) 100%) border-box;
    background-size: 110% 110%;
    background-position: -10px;
    border: 0.7vh solid transparent;
    border-radius: 4vh;
    z-index: 300;
    top: 34vh;
    left: 6%;
    width: 30%;
    height: 17vh;
    transition: ease 0.5s;
    pointer-events: auto;
    overflow: hidden;
}

.pur-opt2 {
    position: absolute;
    background: linear-gradient(150deg, rgba(36,0,0,1) 0%, rgba(0,0,0,1) 100%) padding-box,
                linear-gradient(290deg, rgba(36,0,0,1) 10%, rgba(129,12,12,1) 100%) border-box;
    background-size: 110% 110%;
    background-position: -10px;
    border: 0.7vh solid transparent;
    border-radius: 4vh;
    z-index: 200;
    top: 56vh;
    left: 6%;
    width: 30%;
    height: 17vh;
    transition: ease 0.5s;
    pointer-events: auto;
    overflow: hidden;
}

.pur-opt3 {
    position: absolute;
    background: linear-gradient(150deg, rgba(36,33,0,1) 0%, rgba(0, 0, 0, 1) 90%) padding-box,
                linear-gradient(290deg, rgba(36,33,0,1) 10%, rgba(129,125,12,1) 100%) border-box;
    background-size: 110% 110%;
    background-position: -10px;
    border: 0.7vh solid transparent;
    border-radius: 4vh;
    z-index: 100;
    top: 78vh;
    left: 6%;
    width: 30%;
    height: 17vh;
    transition: ease 0.5s;
    pointer-events: auto;
    overflow: hidden;
}

.pur-opt1:hover {
    height: 45vh;
    transform: scale(1.1);
    transition: ease 0.5s;
}

.pur-opt2:hover {
    height: 45vh;
    transform: scale(1.1);
    transition: ease 0.5s;
}

.pur-opt3:hover {
    height: 45vh;
    transform: scale(1.1);
    transition: ease 0.5s;
}

.pur-opt1-title {
    position: relative;
    top: 5.08vh;
    margin: auto;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 5.2vh;
    z-index: 500;
}

.pur-opt1-desc {
    position: relative;
    top: 10.78vh;
    width: 52vh;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;
}

.pur-opt2-title {
    position: relative;
    top: 5.08vh;
    margin: auto;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 5.2vh;
    z-index: 500;
}

.pur-opt2-desc {
    position: relative;
    top: 10.78vh;
    width: 52vh;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;
}

.pur-opt3-title {
    position: relative;
    top: 5.08vh;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 5.2vh;
    z-index: 500;
}

.pur-opt3-desc {
    position: relative;
    top: 10.78vh;
    width: 52vh;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;
}

.purchase-button3 {
    position: absolute;
    transform: trasnlateX(50%, 0);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 36vh;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(184, 184, 184) 100%);
    border-radius: 4vh;
    width: 10%;
    height: 6vh;
    overflow: hidden;
    transition: ease 0.5s
}

.purchase-svg3 {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 3vh;
    height: 3vh;
    transition: ease 0.5s
}

.purchase-text3 {
    position: relative;
    color: black;
    top: -10vh;
    text-align: center;
    margin: auto;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 3vh;
    letter-spacing: 0.2vh;
    transition: ease 0.5s;
}

.purchase-button3:hover .purchase-text3 {
    top: 1.25vh;
    transition: ease 0.5s;
}

.purchase-button3:hover .purchase-svg3 {
    top: 10vh;
    transition: ease 0.5s
}

.purchase-button3:hover {
    width: 45%;
    transition: ease 0.5s
}

.pur-mainbox {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.06);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 4vh;
    backdrop-filter: blur(18px);
    z-index: 20;
    bottom: -20vh;
    right: 6%;
    width: 55%;
    height: 85vh;
}

.marquee {
  position: absolute;
  top: -15vh;
  width: 10000vh;
  font-family: sans-serif;
  font-weight: 700;
  min-height: 1000vh;
  z-index: -200;
}
  
.marquee .inner {
  position: relative;
  width: 100%;
  display: flex;
  color: transparent;
  -webkit-text-stroke: 2px white;
  font-size: 50vh;
}
  
.marquee .inner > * {
  white-space: nowrap;
  padding: 1rem;
}

.pur-inputbox {
    position: absolute;
    outline: none;
    margin: 8px 0px;
    padding: 0px 20px;
    color: rgb(184, 184, 184);
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    letter-spacing: 0.7px;
    font-style: uppercase;
    caret-color: rgba(255, 255, 255, 0.3);
    width: 20vh;
    height: 6vh;
    top: 16vh;
    left: 6vh;
    border-style: none;
    border-radius: 1.5vh;
    background-color: rgba(255, 255, 255, 0.1);
    transition: ease 0.3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.pur-inputbox::placeholder {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;   
    transition: ease 0.3s;
    top: 1.88vh;
    left: 4vh;
}

.pur-inputbox:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-style: none;
    transition: ease 0.3s;
}

.pur-inputbox:focus::placeholder {
    color: white;
}

.pur-divide {
    position: absolute;
    color: transparent;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 6vh;
    width: 0.5vh;
    height: 70vh;
    top: 8vh;
    left: 65vh;
}

.pur-maintxt {
    position: absolute;
    top: 3vh;
    left: 6vh;
    font-family: 'Rubik', sans-serif;
    font-size: 6vh;
    color: white;
    font-weight: 700;   
}

.pur-maintxt2 {
    position: absolute;
    top: 3vh;
    left: 70vh;
    font-family: 'Rubik', sans-serif;
    font-size: 6vh;
    color: white;
    font-weight: 700;   
}

.pur-ordertxt {
    position: absolute;
    color: white;
    left: 72vh;
    top: 14vh;
    font-family: 'Inter', sans-serif;
    font-size: 2.5vh;
}

#pur-orderbutton {
    position: absolute;
    width: 20vh;
    height: 6vh;
    top: 74vh;
    left: 72vh;
    background: linear-gradient(150deg, rgb(12, 78, 12) 0%, rgb(0, 0, 0) 90%) padding-box,
                linear-gradient(290deg, rgb(6, 36, 0) 10%, rgb(32, 129, 12) 100%) border-box;
    background-size: 110% 110%;
    background-position: -10px;
    border: 0.7vh solid transparent;
    border-radius: 4vh;
    transition: ease 0.4s;
    overflow: hidden;
}

.pur-orderconfirm {
    position: relative;
    pointer-events: none;
    margin: auto;
    text-align: center;
    top: 1.5vh;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    z-index: 2000;
    transition: ease 0.4s;
}

.pur-orderdeny {
    position: relative;
    margin: auto;
    pointer-events: none;
    text-align: center;
    top: 6vh;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    z-index: 2000;
    transition: ease 0.4s;
}

#pur-orderbutton:hover {
    width: 36vh;
    background: linear-gradient(150deg, rgb(83, 83, 83) 0%, rgb(0, 0, 0) 90%) padding-box,
                linear-gradient(290deg, rgb(34, 34, 34) 10%, rgb(121, 121, 121) 100%) border-box;
    transition: ease 0.4s;
}

#pur-orderbutton:hover .pur-orderconfirm {
    top: -10vh;
    transition: ease 0.4s;
}

#pur-orderbutton:hover .pur-orderdeny {
    top: -1.55vh;
    transition: ease 0.4s;
}

.pur-under {
    position: absolute;
    bottom: -1000vh;
    color: white;
}

.pur-backbutton {
    position: absolute;
    top: 3vh;
    left: 16vh;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    width: 20vh;
    height: 7vh;
    overflow: hidden;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.15);
    border-radius: 3vh;
    transition: ease 1s;
}

.pur-backtext {
    position: relative;
    top: 2vh;
    margin: auto;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.pur-backbutton:hover {
    transform: scale(1.1);
    transition: ease 1s;
}

/* Safety Style */

.s-title {
    position: absolute;
    top: 8vh;
    left: 13vh;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 16vh;
}

.s-bardiv {
    position: absolute;
    left: 90vh;
    top: 26.9vh;
    overflow: hidden;
    color: transparent;
    width: 0%;
    height: 2vh;
    background-color: white;
    border-radius: 0.6vh;
    animation: s-barIn 1s cubic-bezier(0.23, 1, 0.320, 1) forwards;
    animation-delay: 1s;
}

.s-safebox {
    position: absolute;
    width: 100vh;
    height: 13vh;
    top: 38vh;
    left: 13vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.15);
    border-radius: 3vh;
}

.s-safetxt {
    position: relative;
    text-align: center;
    margin: auto;
    top: 2vh;
    width: 92vh;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 2.15vh;
}

.s-image {
    position: absolute;
    width: 100vh;
    height: 100vh;
    right: -10vh;
    top: 38vh;
}

.s-training-button {
    position: absolute;
    bottom: -17vh;
    left: 6%;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 0.5vh rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.3);
    border-radius: 3vh;
    width: 85%;
    height: 8vh;
    letter-spacing: 0.7vh;
    transition: 1.5s ease;
}

.s-training-buttontext {
    position: relative;
    margin: auto;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 3vh;
    top: 2vh;
}

.s-training-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: solid 0.5vh rgba(255, 255, 255, 0.25);
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
    transform: scale(1.05);
    letter-spacing: 1.5vh;
}

@keyframes s-barIn {
    to {
        width: 50%;
    }
}

/* Vehicles page */

.v-container {
    position: absolute;
    left: 11.5vh;
    bottom: 40.5vh;
    padding: 2rem;
}

.v-img-box {
    position: absolute;
    overflow: hidden;
    width: 162vh;
    height: 42vh;
    left: 16vh;
    bottom: -4vh;
    border-radius: 4vh;
    border: solid 0.5vh rgba(255, 255, 255, 0.15)
}

.v-container2 {
    position: absolute;
    left: 11.5vh;
    bottom: -50.5vh;
    padding: 2rem;
}

.v-container3 {
    position: absolute;
    left: 11.5vh;
    bottom: -140.5vh;
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 64vh;
    margin: 0 auto;
}
  
.slider {
    display: flex;
    border: solid 0.45vh rgba(255, 255, 255, 0.2);
    width: 62.43vh;
    height: 35.17vh;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0 0 0 0.25);
    border-radius: 2.6vh;
}
  
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
  
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
  
.slider-nav a {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 70%;
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 0.3vh;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    transition: opacity ease 250ms;
}
  
.slider-nav a:hover {
    background-color: #fff;
}

.v-textbox {
    position: absolute;
    width: 90vh;
    height: 35.17vh;
    top: 18.4vh;
    right: 32vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.15);
    border-radius: 3vh;
}

.v-titleinbox {
    position: relative;
    text-align: center;
    margin: auto;
    top: 2vh;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 5.5vh;
    letter-spacing: 1vh;
}

.v-textinbox {
    position: relative;
    text-align: center;
    margin: auto;
    top: 3vh;
    width: 80vh;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 2.15vh;
}